<!DOCTYPE html>
<html>
<head>
  <title>Pokemon Records</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1 style="text-align: center;">Pokemon Records</h1>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Planet</th>
          <th>Jedi Status</th>
          <th>Weapon</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if (starwars.length > 0) { %>
          <% starwars.forEach(row => { %>
            <tr>
              <td><%= row.first_name %></td>
              <td><%= row.last_name %></td>
              <td><%= row.planet_name%></td>
              <td><%= row.jedi ? 'Yes' : 'No' %></td>
              <td><%= row.weapon %></td>
              <td>
            
                <form action="/edit/<%= row.id %>" method="GET" style="display:inline;">
                  <button class="action-button edit" type="submit">Edit</button>
                </form>
                <form action="/delete/<%= row.id %>" method="POST" style="display:inline;">
                  <button class="action-button delete" type="submit" onclick="return confirm('Are you sure you want to delete this record?');">Delete</button>
                </form>
                
              </td>
            </tr>
          <% }) %>
        <% } else { %>
          <tr>
            <td colspan="7">No data available</td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <form action="/add" method="GET" style="display: flex; justify-content: center; margin: 20px 40px;">
    <button class="action-button add" type="submit">Add Character</button>

    
  </form>
 
    <button action="/maintain_planets" method="GET" class="action-button add" type="submit">Maintain Planets</button>
    
</body>
</html>
